{% extends "hab/base.html" %}
{% load i18n %}

{% block title %}View{% endblock %}

{% block header %}<h1>{% trans "View" %}</h1>{% endblock %}

{% block sidebar %}
<button id="add-view-assignment" href="{% url 'assignment-view-add' slug=slug %}" type="button" class="btn">{% trans "Add new assignment" %}</button>
{% endblock %}

{% block content %}
{% for assignment in assignments %}
    {% include "hab/assignment_detail.html" %}
{% endfor %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include "hab/create_view_assignment_modal.html" %}
{% endblock %}
