{% load mathfilters %}<article class="assignment" id="assignment-{{ assignment.id }}" data-id="{{ assignment.id }}">
    <header>
        {% if assignment.assignee %}
            {% ifequal assignment.assignee user %}
                <div class="owner-indicator assigned"></div>
            {% endifequal %}
        {% else %}
            {% ifequal assignment.owner user %}
                <div class="owner-indicator owns"></div>
            {% else %}
                <div class="owner-indicator"></div>
            {% endifequal %}
        {% endif %}
        {% with countdown=assignment.countdown %}
        <h4>{{ assignment }} <span class="grade">{{ assignment.importance }}</span>
            {% ifnotequal countdown None %}
                {% if countdown > 0 %}
                    <small>{{ countdown }} day{{ countdown|pluralize }} left</small>
                {% else %}
                    {% if countdown < 0 %}
                        <small class="text-danger">{{ countdown|abs }} day{{ countdown|abs|pluralize }} overdue.</small>
                    {% else %}
                        <small class="text-info">Today</small>
                    {% endif %}
                {% endif %}
            {% endifnotequal %}
            {% if assignment.assigned_to %}
                <small class="assignee">Assigned to {% include "hab/user_link.html" with user=assignment.assigned_to %}</small>
            {% endif %}
        </h4>
        {% endwith %}
    </header>
    <p class="controls">
        {% if assignment.completed %}
        <button type="button" class="clear btn btn-xs">Clear</button>
        {% else %}
        <button type="button" class="finish btn btn-success btn-xs">Finish</button>
        {% endif %}
    </p>
    <dl class="details hide dl-horizontal">
        <dt>Owned by</dt> <dd class="owner">{{ assignment.owner|default:"None" }}</dd>
        <dt>Assigned to</dt> <dd class="assignee">{{ assignment.assignee|default:"None" }}</dd>

        {% if not assignment.completed %}
        <dt>Assign task to</dt>
        <dd>
            <select name="assign" id="assign-{{ assignment.id }}" class="assign-task">
                <option value="no">---</option>
            {% for u in users %}
                <option value="{{ u.username }}"{% ifequal u assignment.assignee %} selected{% endifequal %}>{{ u.username }}</option>
            {% endfor %}
            </select>
        </dd>
        {% endif %}

        <dt>Importance</dt> <dd><span class="grade">{{ assignment.importance }}</span></dd>
        {% if assignment.completed %}
        <dt>Completed</dt> <dd><time datetime="{{ assignment.completed|date:'c' }}">{{ assignment.completed }}</time></dd>
        {% if not assignment.cleared %}
        {% endif %}
        <dt>Reopen</dt> <dd><button type="button" class="reopen btn btn-xs" href="#">Reopen</button></dd>
        {% else %}
        {% if assignment.deadline %}
        <dt>Deadline</dt> <dd><time class="deadline" datetime="{{ assignment.deadline|date:'c' }}">{{ assignment.deadline }}</time></dd>
        <dt>Suspend</dt>
        <dd>
            <select name="suspend" id="suspend-{{ assignment.id }}" class="suspend-task">
                <option value="0"></option>
                <option value="1">1 day</option>
                <option value="2">2 day</option>
                <option value="3">3 day</option>
                <option value="7">1 week</option>
                <option value="30">1 month</option>
            </select>
        </dd>
        {% endif %}
        {% endif %}
    </dl>
</article>