{% load i18n %}{% load mathfilters %}<article class="assignment" id="assignment-{{ assignment.id }}" data-id="{{ assignment.id }}">
    <header>
        {% if assignment.assignee %}
            {% ifequal assignment.assignee user %}
                <div class="owner-indicator assigned"></div>
            {% endifequal %}
        {% else %}
            {% ifequal assignment.owner user %}
                <div class="owner-indicator owns"></div>
            {% else %}
                <div class="owner-indicator"></div>
            {% endifequal %}
        {% endif %}
        {% with countdown=assignment.countdown %}
        <h4>{{ assignment }} <span class="grade">{{ assignment.importance }}</span>
            {% ifnotequal countdown None %}
                {% if countdown > 0 %}
                    <small>{% blocktrans count countdown=countdown %}Tomorrow{% plural %}{{ countdown }} days left{% endblocktrans %}</small>
                {% else %}
                    {% if countdown < 0 %}
                        <small class="text-danger">{% blocktrans count cdabs=countdown|abs %}Yesterday{% plural %}{{ cdabs }} days overdue.{% endblocktrans %}</small>
                    {% else %}
                        <small class="text-info">{% trans "Today" %}</small>
                    {% endif %}
                {% endif %}
            {% endifnotequal %}
            {% if assignment.assigned_to %}
                <small class="assignee">{% blocktrans %}Assigned to {% endblocktrans %}{% include "hab/user_link.html" with user=assignment.assigned_to %}</small>
            {% endif %}
        </h4>
        {% endwith %}
    </header>
    <p class="controls">
        {% if assignment.completed %}
        <button type="button" class="clear btn btn-xs">{% trans "Clear" %}</button>
        {% else %}
        <button type="button" class="finish btn btn-success btn-xs">{% trans "Finish" %}</button>
        {% endif %}
    </p>
    <dl class="details hide dl-horizontal">
        <dt>{% trans "Owned by" %}</dt> <dd class="owner">{{ assignment.owner|default:"None" }}</dd>
        <dt>{% trans "Assigned to" %}</dt> <dd class="assignee">{{ assignment.assignee|default:"None" }}</dd>

        {% if not assignment.completed %}
        <dt>{% trans "Assign task to" %}</dt>
        <dd>
            <select name="assign" id="assign-{{ assignment.id }}" class="assign-task">
                <option value="no">---</option>
            {% for u in users %}
                <option value="{{ u.username }}"{% ifequal u assignment.assignee %} selected{% endifequal %}>{{ u.username }}</option>
            {% endfor %}
            </select>
        </dd>
        {% endif %}

        <dt>{% trans "Importance" %}</dt> <dd><span class="grade">{{ assignment.importance }}</span></dd>
        {% if assignment.completed %}
        <dt>{% trans "Completed" %}</dt> <dd><time datetime="{{ assignment.completed|date:'c' }}">{{ assignment.completed }}</time></dd>
        {% if not assignment.cleared %}
        {% endif %}
        <dt>{% trans "Reopen" %}</dt> <dd><button type="button" class="reopen btn btn-xs" href="#">{% trans "Reopen" %}</button></dd>
        {% else %}
        {% if assignment.deadline %}
        <dt>{% trans "Deadline" %}</dt> <dd><time class="deadline" datetime="{{ assignment.deadline|date:'c' }}">{{ assignment.deadline }}</time></dd>
        <dt>{% trans "Suspend" %}</dt>
        <dd>
            <select name="suspend" id="suspend-{{ assignment.id }}" class="suspend-task">
                <option value="0"></option>
                <option value="1">{% trans "1 day" %}</option>
                <option value="2">{% trans "2 day" %}</option>
                <option value="3">{% trans "3 day" %}</option>
                <option value="7">{% trans "1 week" %}</option>
                <option value="30">{% trans "1 month" %}</option>
            </select>
        </dd>
        {% endif %}
        {% endif %}
    </dl>
</article>