{% extends "hab/base.html" %}

{% block title %}Assignments{% endblock %}

{% block header %}<h1>Assignments</h1>{% endblock %}

{% block sidebar %}
<button id="add-assignment" type="button" class="btn">Add new assignment</button>
<h4>Show assignments</h4>
<ul class="list-group">
    <li class="list-group-item"><a href="{% url "assignments-list" %}">All</a></li>
    {% for verb in verbs %}
    <li class="list-group-item" id="task-link-{{ verb.name|slugify }}"><a href="/tasks/?q={{ verb.name }}">{{ verb.name|title }} {% if verb.count %}<span class="badge">{{ verb.count }}</span>{% endif %}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
{% for assignment in object_list %}
    {% include "hab/assignment_detail.html" %}
{% endfor %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include "hab/create_assignment_modal.html" %}
{% endblock %}