{% extends "hab/base.html" %}
{% load querymod %}{% load i18n %}

{% block title %}{% trans "Assignments" %}{% endblock %}

{% block header %}<h1>{% trans "Assignments" %}</h1>{% endblock %}

{% block sidebar %}
<button id="add-assignment" href="{% url "add-assignment" %}" type="button" class="btn">{% trans "Add new assignment" %}</button>
<h4>{% trans "Sort by" %}</h4>
<ul>
<li><a href="?{% query_replace 'sort' 'deadline' %}">{% trans "Deadline" %}</a></li>
<li><a href="?{% query_replace 'sort' 'importance' %}">{% trans "Importance" %}</a></li>
</ul>
<div class="hidden-sm hidden-xs">
    <h4>{% trans "Show assignments" %}</h4>
    <ul id="task-filter" class="list-group">
        <li class="list-group-item"><a href="{% url "assignments-list" %}">{% trans "All" %}</a></li>
        {% for verb in verbs %}
        <li class="list-group-item" id="task-link-{{ verb.name|slugify }}" data-sort="{{ verb.count }}"><a href="/tasks/?q={{ verb.name }}">{{ verb.name|title }} {% if verb.count %}<span class="badge">{{ verb.count }}</span>{% endif %}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
{% for assignment in object_list %}
    {% include "hab/assignment_detail.html" %}
{% empty %}
    <h4>{% trans "No assignments to show" %}</h4>
{% endfor %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include "hab/create_assignment_modal.html" %}
{% endblock %}