<div class="modal fade" id="createViewAssignmentModal" role="dialog" aria-labelledby="createViewAssignmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="createViewAssignementLabel" class="modal-title">Add task to "{{ object.name }}"</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
