{% load i18n %}
<ul class="nav nav-tabs">
    {% url 'templates-list' as templates %}
    {% url 'assignments-list' as tasks %}
    {% url 'users-list' as users %}
    {% for view in views %}
    {% url 'assignment-view-list' slug=view.slug as href %}
    <li{% ifequal request.path href %} class="active"{% endifequal %}><a href="{{ href }}">{{ view.name }}</a></li>
    {% endfor %}
    <li{% ifequal request.path tasks %} class="active"{% endifequal %}><a href="{{ tasks }}">{% trans "Tasks" %}</a></li>
    <li{% ifequal request.path templates %} class="active"{% endifequal %}><a href="{{ templates }}">{% trans "Templates" %}</a></li>
    <li{% ifequal request.path users %} class="active"{% endifequal %}><a href="{{ users }}">{% trans "Users" %}</a></li>
</ul>