{% extends "hab/base.html" %}{% load i18n %}

{% block header %}
    <h1>{% trans "Users" %}</h1>
{% endblock %}

{% block content %}
{% for u in object_list %}
    <article id="user-{{ u.id }}">
        <header><h3>{% include "hab/user_link.html" with user=u %}</h3></header>
    </article>
{% endfor %}
<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
{% endblock %}